/*
TODO: replace !important with tailwind-override
 */
.input {
    width: 1.7em !important;
    height: 1.7em !important;
    padding: 0 !important;
    margin: 0.2em !important;
    text-align: center;
    border: black solid 1px !important;
}

.input:nth-child(3n) {
    margin-right: 0.6em !important;
}
